<!doctype html>
<html ng-app="numbersApp">
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
    <div class="container-fluid">
        <h1>Roman-Decimal Converter</h1>
        <p>This is a web-based Roman to Decimal converter.</p>
        <div class="row">
            <div class="col-sm-3 col-md-6" ng-controller="converter">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Convert to Roman</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <form>
                                <label for="to-roman">Input: </label>
                                <input type="text" ng-model="input" class="form-control" id="to-roman" placeholder="enter here the decimal number">
                                <br>
                                <button ng-click="convert()" class="btn btn-default" >Convert!</button>
                            </form>
                        </div>
                        <br>
                        <div id="success-box" class="alert alert-success hidden" role="alert">
                            <strong>Success!</strong> Conversion result
                        </div>
                        <div id="failure-box" class="alert alert-danger hidden" role="alert">
                            <strong>Failure!</strong> <span>{{error-message}}</span>.
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-9 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Convert to Decimal</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="to-decimal">Input: </label>
                            <input type="text" class="form-control" id="to-decimal">
                        </div>
                        <button class="btn btn-default">Convert</button>
                        <br><br>
                        <div class="alert alert-success" role="alert">
                            <strong>Success!</strong> Conversion result
                        </div>
                        <div class="alert alert-danger" role="alert">
                            <strong>Failure!</strong> Message.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p><i>Created by Carles for your satisfaction.</i></p>
    </div>
</body>
</html>